
.pic2 {
	float: right;
	margin-top: 5px;
	margin-right: 12px;
	margin-bottom: 5px;
}

.menu {
	float: left;
	margin-top: 5px;
	margin-right: 12px;
	margin-left: 2px;
	margin-bottom: 5px;
}
